.image {
  margin:50px 50px;
  position: absolute;
}​

/*.image img{
	position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}*/


.image:hover {
  opacity: 0;
}
​