.boxoutTop {
  text-align: center;
  border-width: 1px;
  border-color: gray;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: #444;
  margin-top:100px;
}

.boxoutTime {
    text-align: center;
  border-width: 1px;
  border-color: gray;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background: #444;
  margin-top:100px;
/*  text-align: center;
  border-width: 1px;
  color: yellow;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;*/
}

.boxoutAlarms {
  color: #eee;
  text-align: center;
  border-width: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: gray;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #333;

}

.boxoutAlarmToggle {
  border-width: 1px;
  border-color: gray;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #333;
}

.boxoutDelete {
  text-align: center;
  color: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  border-color: gray;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.boxoutDelete:active {
  text-align: center;
  color: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  border-color: gray;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background-image: -moz-linear-gradient(top, #555, #aaa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #aaa));

}

.boxoutRepeat {
  text-align: center;
  color: #000;
  font-size: 12px;
  border-width: 1px;
  border-color: gray;
  padding: 5px;
  border-top: 1px solid #bbb;
  border-bottom: 2px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #fff;
}

.spanPhoneWidth {
  width: 200px;
  padding-left: 5px;
  margin-left: 200px;
  border-left: 1px solid #333;
}

.spanSave {
  width: 97px;
  padding-left: 5px;
  margin-left: 200px;
  border-right: 1px solid #777;
  border-left: 1px solid #333;
}

.spanSetDetails {
  width: 96px;
  padding-left: 5px;
  margin-left: 0px;
  border-right: 1px solid #333;
  border-left: 1px solid #bbb;
}

.spanRepeat {
  width: 22px;
  margin-left: 0px;
}

.offsetSignal {
  margin-left: 5px;
}


.gradientAlarms {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #222));
}

.gradientDelete {
  background-image: -moz-linear-gradient(top, #aaa, #777);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #777));
}

.gradientRepeat {
  background-image: -moz-linear-gradient(top, #fff, #aaa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #aaa));
}

.alarmRepeat {
  font-size: 10px;
  margin-bottom: 5px;
}







